.details {

    &__product {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-top: 10px;
        padding-bottom: 80px;

        @media (max-width: 520px) {
            flex-direction: column;
        }
    }

    &__product-img {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .first {
            width: 100%;
            height: 550px;
            object-fit: cover;
            border: 1px solid transparent;
            border-radius: 5px;
        }

        &__images {
            max-width: 100%;
            overflow: auto;
            height: 200px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border: 1px solid transparent;
                border-radius: 5px;
                cursor: pointer;
            }
        }

        &__images-img {
            opacity: .5;
            border-radius: 5px !important;
            border: 2px solid #6C7275 !important;
        }

        @media (max-width: 870px) {
            .first {
                height: 400px;
            }

            &__images {
                height: 150px;
            }
        }

        @media (max-width: 666px) {
            .first {
                height: 300px;
            }

            &__images {
                height: 100px;
            }
        }

        @media (max-width: 520px) {
            width: 100%;

            .first {
                height: 400px;
            }

            &__images {
                display: none;
            }
        }
    }

    &__product-details {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        &__title {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid #E8ECEF;


            .rating {
                width: 45%;
            }

            h1 {
                font-size: 40px;
                font-weight: 500;
            }

            .desc {
                color: #6C7275;
            }
        }

        &__title-price {
            display: flex;
            flex-direction: row;
            gap: 20px;

            p {
                font-weight: 600;
                font-size: 24px;
            }

            p:last-child {
                color: #6C7275;
                text-decoration: line-through;
            }
        }

        &__btns {
            quotes: 100%;
            display: flex;
            flex-direction: row;
            gap: 5px;
        }

        &__btns-wishlist {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            flex: 1;
            background-color: transparent;
            border: 1px solid #000;
            border-radius: 5px;
            font-size: 16px;
        }

        &__btns-addtocart {
            width: 50%;
            height: 40px;
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: #141718;
            color: #fff;
        }

        @media (max-width: 870px) {
            &__title {

                .rating {
                    width: 65%;
                }

                h1 {
                    font-size: 30px;
                }

                .desc {
                    font-size: 14px;
                }
            }

            &__title-price {
                p {
                    font-size: 20px;
                }

            }
        }

        @media (max-width: 666px) {
            &__title {

                .rating {
                    width: 65%;
                }

                h1 {
                    font-size: 20px;
                }

                .desc {
                    font-size: 12px;
                }
            }

            &__title-price {
                p {
                    font-size: 20px;
                }

            }
        }

        @media (max-width: 520px) {
            width: 100%;
        }
    }

    &__comments {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 80px;

        @media (max-width: 520px) {
            gap: 15px;
        }
    }

    &__comments-header {
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-weight: 500;
        border-bottom: 1px solid #d5d5d5;

        &__one,
        &__two,
        &__three {
            border: none;
            padding: 8px 5px;
            background-color: transparent;
            font-size: 20px;
        }

        &__one-show,
        &__two-show,
        &__three-show {
            border-bottom: 2px solid #000;
        }

        @media (max-width: 520px) {
            gap: 15px;

            &__one,
            &__two,
            &__three {
                font-size: 16px;
            }
        }

        @media (max-width: 520px) {
            gap: 5px;

            &__one,
            &__two,
            &__three {
                font-size: 14px;
            }
        }
    }

    &__comments-body {
        display: flex;
        flex-direction: column;
    }

    &__comments-info {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }


}